name: build-tzpb

on:
  schedule:
    - cron: "1 1 * * *"
  workflow_dispatch:

env:
  TZF_CLI_TOOL_VERSION: "latest"

jobs:
  build-tzpb-pipeline:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Fetch tag
        id: set-latest-version
        run: |
          go install github.com/ringsaturn/tzf/cmd/checkboundaryrelease@$TZF_CLI_TOOL_VERSION

          checkboundaryrelease >> $GITHUB_OUTPUT

      - name: Set env and check if continue
        id: check-update
        shell: bash
        run: |
          VERSION="${{ steps.set-latest-version.outputs.TIMEZONE_BOUNDARY_VERSION }}"
          echo "TIMEZONE_BOUNDARY_VERSION=$VERSION" >> $GITHUB_ENV
          
          if [ -z "$VERSION" ]; then
            echo "No new version detected. Skipping build."
            echo "should_continue=false" >> $GITHUB_OUTPUT
          else
            echo "New version detected: $VERSION"
            echo "should_continue=true" >> $GITHUB_OUTPUT
          fi

      - name: Download
        if: steps.check-update.outputs.should_continue == 'true'
        shell: bash
        run: |
          wget https://github.com/evansiroky/timezone-boundary-builder/releases/download/$TIMEZONE_BOUNDARY_VERSION/timezones-with-oceans.geojson.zip
          unzip timezones-with-oceans.geojson.zip

      - name: Produce
        if: steps.check-update.outputs.should_continue == 'true'
        shell: bash
        run: |
          go install github.com/ringsaturn/tzf/cmd/geojson2tzpb@$TZF_CLI_TOOL_VERSION
          go install github.com/ringsaturn/tzf/cmd/reducetzpb@$TZF_CLI_TOOL_VERSION
          go install github.com/ringsaturn/tzf/cmd/compresstzpb@$TZF_CLI_TOOL_VERSION
          go install github.com/ringsaturn/tzf/cmd/preindextzpb@$TZF_CLI_TOOL_VERSION

          geojson2tzpb combined-with-oceans.json | xargs reducetzpb | xargs compresstzpb
          preindextzpb combined-with-oceans.reduce.bin

      - name: Upload a Build Artifact
        if: steps.check-update.outputs.should_continue == 'true'
        uses: actions/upload-artifact@v6
        with:
          name: "tzpb"
          path: "./*.bin"

      - name: "Commit"
        if: steps.check-update.outputs.should_continue == 'true'
        shell: bash
        run: |
          git checkout -b auto-bump-$TIMEZONE_BOUNDARY_VERSION
          git add combined-with-oceans.bin
          git add combined-with-oceans.reduce.bin
          git add combined-with-oceans.reduce.compress.bin
          git add combined-with-oceans.reduce.preindex.bin

          git config --global user.name "tzf-auto-build-bot"
          git config --global user.email "ringsaturn@users.noreply.github.com"
          git commit -m "bump to $TIMEZONE_BOUNDARY_VERSION"

      - name: "Push Commit"
        if: steps.check-update.outputs.should_continue == 'true'
        shell: bash
        run: |
          git push --set-upstream origin auto-bump-$TIMEZONE_BOUNDARY_VERSION

      - name: "Create Pull Request"
        if: steps.check-update.outputs.should_continue == 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "bump to $TIMEZONE_BOUNDARY_VERSION"
          branch: "auto-bump-$TIMEZONE_BOUNDARY_VERSION"
          title: "bump to $TIMEZONE_BOUNDARY_VERSION"
          body: |
            Auto generated by GitHub Action
            
            @ringsaturn Please review this automated timezone boundary data update.
          labels: tzdb-update
          reviewers: ringsaturn
